h2 {
    text-align: center;
}

.form {
    text-align: center;
}

.player-list{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
  }


  /* Fields */
.form {
    background-color: transparent; /* Remove background fill */
    text-transform: uppercase; /* Make text all uppercase */
    border-radius: 0; /* Remove corner curve */
    border: 2px solid #fff; /* 2px white border */
    color: #fff; /* White text */
    height: 60px; /* Increase input height */
    padding-bottom: 30px;
}

/* Button */
.form-button {
   text-transform: uppercase;
   color: white;
   background: #444;
   font-weight: normal;
   padding: 10px;
}

.form-input {
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
 }